:focus {outline:none;}
::-moz-focus-inner {border:0;}

body {
	margin-top: 1px;
    font-size: 24px;
/* 	margin: 1px; */
}
#content {
/*	height: auto !important;  */
/*	padding-bottom: 30%;  */
/*	background-color: #000; */
}
#games2d {
	  margin: 30px;
}

#header a {
    color: green;
}

.games {
  display: grid;
  /*  grid-template-columns: 30% 30% 30%; */
  /*   grid-auto-flow: column dense; */
  
  grid-auto-rows: auto;
  grid-gap: 10px;
  background-color: #fff;
  color: #444;
}


.game {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
  text-align: center;
}

.game a {
	text-decoration: underline;
	font-weight: bold;
}

.game a:link {
	color: #fff;
}

.game a:visited {
	color: #fff;
}


#header a {
    color: green;
}

a {
    text-decoration: none;
    color: #2A5DB0;
}
