:focus {outline:none;}
::-moz-focus-inner {border:0;}

body {
	margin-top: 2px;
    font-size: 24px;
/* 	margin: 1px; */
}
#content {
/*	height: auto !important;  */
/*	padding-bottom: 30%;  */
/*	background-color: #000; */
}
#games2d {
	  margin: 30px;
}

#header a {
    color: green;
}

.games2d_title_games {
/*	color: green; */
	/*	font-weight: bold; */
}

.games2d_title_2d {
		color: #2A5DB0; 
/*	color: #380c1a; */
	font-weight: bold;
}

.games {
  display: grid;
  /*  grid-template-columns: 30% 30% 30%; */
  /*   grid-auto-flow: column dense; */
  
  grid-auto-rows: auto;
  grid-gap: 10px;
  background-color: #fff;
  color: #444;
}


.game {
  background-color: #444;
    color: #fff; 
  
/*		color: #2A5DB0; */
  border-radius: 17px;
  padding: 20px;
  font-size: 33px;
  text-align: center;
}

.game a {
/*	text-decoration: underline; */
	color: #fff;
	font-weight: bold;
	text-shadow: 1px 0 black;
}

.game a:link {
	color: #fff;
	font-weight: bold;
	text-shadow: 1px 0 black;
}

.game a:visited {
	color: #fff;
	font-weight: bold;
	text-shadow: 1px 0 black;
}

.buy {
/*    color: #fd2e2e; */
    font-weight: 700;
	text-decoration: none !important;
	cursor: pointer;
	font-size: 33px;
}

#header a {
    color: green;
}

a {
    text-decoration: none;
    color: #2A5DB0;
}


#thanks h1 {
	text-align: center;
}

#thanks #goback {
	text-align: center;
}
